*{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 56px;
    vertical-align: middle;
}

h2{
    font-size: 36px;
}

p{
    font-size: 20px;
}

h1, .encart{
    text-align: center;
}

.encart{
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.encart-commande{
    background-color: #303030;
    color: white;
}

.encart-livraison{
    background-color: black;
    color: white;
}

.encart-certification{
    background-color: #303030;
    color: white;
}

.button-order button {
    box-sizing: border-box;
    cursor: pointer;
    width: 300px;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    border: 2px solid gold; /* Bordure dorée par défaut pour tous les boutons */
    transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}


.button-order{
    display: flex;
    justify-content: space-evenly;
}

.button-order button:hover {
    opacity: 0.8;
    transform: scale(1.1);
    border-color: gold; /* Changement de la couleur de la bordure au survol */
}


.encart-mangerbouger{
    background-color: black;
    color:whitesmoke
}

.avert-sante{
    font-size: 14px;
}

.mangerbouger{
    font-size: 10px;
}