*{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 60px;
    vertical-align: middle;
}

h2{
    font-size: 36px;
}

p{
    font-size: 20px;
}

h1, .encart{
    text-align: center;
}

.encart{
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.encart-commande{
    background-color: #303030;
    color: white;
}

.encart-livraison{
    background-color: black;
    color: white;
}

.encart-certification{
    background-color: #303030;
    color: white;
}

button{
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    width: 300px;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(gold 0%, goldenrod 100%);
    border-radius: 50px;
    color: black;
    font-size: 20px;
    box-shadow: 0px 4px 5px 1px #cacbcb;
    transform: scale(1);
    transition : transform 250ms;
}

.button-order{
    display: flex;
    justify-content: space-evenly;
}

.button-order :hover{
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: 0px 4px 5px 1px #cacbcb;
}

.encart-mangerbouger{
    background-color: black;
    color:whitesmoke
}

.avert-sante{
    font-size: 18px;
}

.mangerbouger{
    font-size: 14px;
}