@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  font-size: 50px;
  vertical-align: middle;
}

h2{
  font-size: 32px;
}

p{
  font-size: 16px;
}

h1, .encart{
  text-align: center;
}

.encart{
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adresse{
  font-size:12px;
  text-align: center;
}

.encart-commande{
  background-color: #303030;
  color: goldenrod;
}

.encart-livraison{
  background-color: black;
  color: goldenrod;
}

.encart-certif{
  background-color: white;
  color: black;
}

.button-order button {
  box-sizing: border-box;
  cursor: pointer;
  width: 300px;
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: black;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  border: 2px solid goldenrod; /* Bordure dorée par défaut pour tous les boutons */
  transition: transform 250ms, opacity 250ms; /* Ajout de la transition pour le survol */
}


.button-order{
  display: flex;
  justify-content: space-evenly;
}

.button-order button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  border-color: goldenrod !important; /* Ajout de !important pour renforcer la spécificité */
}

.img-halal{
  width: 200px;
  height: 200px;
}

.div-produits {
  display: flex;
  justify-content: center;
}

.card-produit {
  position: relative; /* Ajoutez cette propriété pour rendre la position relative */
}

.titre-produit {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  position: absolute; /* Ajoutez cette propriété pour rendre la position absolue */
  top: 5%; /* Positionne le texte au milieu de la carte */
  left: 50%; /* Positionne le texte au milieu de la carte */
  transform: translate(-50%, -50%); /* Centre le texte parfaitement au milieu */
  color: goldenrod; /* Assure la lisibilité du texte en ajustant la couleur */
}

.style-script {
  font-family: 'Dancing Script', sans-serif;
  position: absolute; /* Ajoutez cette propriété pour rendre la position absolue */
  top: 20%; /* Positionne le texte au milieu de la carte */
  left: 50%; /* Positionne le texte au milieu de la carte */
  transform: translate(-50%, -50%); /* Centre le texte parfaitement au milieu */
  color: white; /* Assure la lisibilité du texte en ajustant la couleur */
}

.black-white {
  filter: grayscale(100%) brightness(0.5);
  width: 100%;
  height: 330px;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 1); /* Couleur noire semi-transparente */
}


.footer{
  background-color: black;
  color:white;
  text-align: center;
  padding: 5px;
  margin-left: -15px;
  margin-right: -15px;
}

.avert-sante{
  font-size: 14px;

}

.mangerbouger{
  font-size: 10px;

}

/* Responsive Version Mobile */
@media screen and (max-width: 768px) {
  .button-order {
      display: flex;
      flex-direction: column;
      align-items: center; /* Ajout pour centrer les éléments */
  }

  h1 {
      font-size: 42px;
      vertical-align: middle;
  }

  h2 {
      font-size: 28px;
  }   

  p{
      font-size: 14px;
  }

  .div-produits {
    display: flex;
    flex-direction: column;
  }

  .black-white {
    width: 100%;
    height: 250px;
  }
  
  .avert-sante{
      font-size: 11px;
  }

  .mangerbouger{
      font-size: 8px;
  }   
}